/* Reset and base styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f657f;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    color: white;
    display: flex;
    z-index: 1000;
    text-align: center;
    transition: background-color 0.3s; 
    padding: 15px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 45px;
    margin-right: 0;
}

.navbar-logo span {
    font-size: 22px;
    font-weight: bold;
}

.navbar-links {
    flex: 1;
    text-align: right;
}

.navbar-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.navbar-links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F9C30D;
    display: block;
    margin: auto;
    transition: .5s;    
}

.navbar-links li:hover::after {
    width: 100%;
}

.donate-button {
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.donate-button:hover {
    background-color: #F9C30D;
    transform: scale(1.05);
}

.top {
    position: relative;
    text-align: center;
    color: #ebdba1;
    padding-bottom: 20px;
}

.header-text1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 49px;
}

.header-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: #f0e5be;
}


.last {
    position: relative;
    height: 70vh;
    background-image: url("images/head.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 31, 53, 0.65);
    display: flex;
    justify-content: center;
    align-items: center; 
}

header .centered-message {
    text-align: center;
    color: #fff;
    padding: 20px; 
    background-color: rgba(35, 143, 143, 0.65);
}

header .centered-message h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header .centered-message p {
    font-size: 24px;
    margin-bottom: 20px;
}

header .centered-message button {
    background-color: #F3F5E5;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

header .centered-message button:hover {
    background-color: #F9C30D;
    transform: scale(1.05);
}

.message-above-ss{

    text-align: center;
    font-size: 55px;
    color: white;
    padding-top: 40px;
    font-weight: bold;
    padding-bottom: 150px;
}

.message-above-ss2{

    text-align: center;
    font-size: 55px;
    color: white;
    padding-top: 100px;
    font-weight: bold;
    padding-bottom: 30px;
}

.message-small {
    text-align: center;
    font-size: 30px;
    color: #578998;
    padding-top: 5px;
    padding-bottom: 70px;
    font-weight: bold;
}


@media (max-width: 1200px) {
    header .centered-message h1 {
        font-size: 40px;
    }

    header .centered-message p {
        font-size: 20px;
    }

    header .centered-message button {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    header .centered-message {
        padding: 15px;
    }

    header .centered-message h1 {
        font-size: 36px;
    }

    header .centered-message p {
        font-size: 18px;
    }

    header .centered-message button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .last {
        height: 50vh;
    }

    header .centered-message h1 {
        font-size: 30px;
    }

    header .centered-message p {
        font-size: 16px;
    }

    header .centered-message button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

@media (max-width: 576px) {
    header .centered-message h1 {
        font-size: 24px;
    }

    header .centered-message p {
        font-size: 14px;
    }

    header .centered-message button {
        font-size: 12px;
        padding: 6px 10px;
    }

    .message-above-ss, .message-above-ss2 {
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .message-small {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
}*/
/* Base styles for larger screens */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    color: white;
    display: flex;
    z-index: 1000;
    text-align: center;
    transition: background-color 0.3s; 
    padding: 15px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 45px;
    margin-right: 0;
}

.navbar-logo span {
    font-size: 22px;
    font-weight: bold;
}

.navbar-links {
    flex: 1;
    text-align: right;
}

.navbar-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.navbar-links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F9C30D;
    display: block;
    margin: auto;
    transition: .5s;    
}

.navbar-links li:hover::after {
    width: 100%;
}

.donate-button {
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.donate-button:hover {
    background-color: #F9C30D;
    transform: scale(1.05);
}

/* Header styles */
.top {
    position: relative;
    text-align: center;
    color: #ebdba1;
    padding-bottom: 20px;
}

.header-text1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 49px;
}

.header-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: #f0e5be;
}

.last {
    position: relative;
    height: 70vh;
    background-image: url("images/head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 31, 53, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .centered-message {
    text-align: center;
    color: #fff;
    padding: 20px;
    background-color: rgba(35, 143, 143, 0.65);
}

header .centered-message h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header .centered-message p {
    font-size: 24px;
    margin-bottom: 20px;
}

header .centered-message button {
    background-color: #F3F5E5;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

header .centered-message button:hover {
    background-color: #F9C30D;
    transform: scale(1.05);
}

.message-above-ss {
    text-align: center;
    font-size: 55px;
    color: white;
    padding-top: 40px;
    font-weight: bold;
    padding-bottom: 150px;
}

.message-above-ss2 {
    text-align: center;
    font-size: 55px;
    color: white;
    padding-top: 100px;
    font-weight: bold;
    padding-bottom: 30px;
}

.message-small {
    text-align: center;
    font-size: 30px;
    color: #578998;
    padding-top: 5px;
    padding-bottom: 70px;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    .header-text1 {
        font-size: 30px;
    }

    .header-text2 {
        font-size: 40px;
    }

    .navbar-links {
        text-align: center;
        flex-direction: column;
        display: none;
    }

    .navbar-links li {
        display: block;
        padding: 10px;
    }

    .navbar-links li a {
        font-size: 20px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-logo img {
        height: 35px;
    }

    .navbar-logo span {
        font-size: 18px;
    }

    .donate-button {
        font-size: 16px;
        padding: 5px 10px;
    }

    .message-above-ss, .message-above-ss2 {
        font-size: 35px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .message-small {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    header .centered-message h1 {
        font-size: 30px;
    }

    header .centered-message p {
        font-size: 18px;
    }

    header .centered-message button {
        font-size: 16px;
    }
}



/* Body styles */
.body {
    background-color: #0f657f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.cont {
    background-color: #0f657f;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
    padding-bottom: 80px;
}

.sec {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #91bbc8;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: transform 0.3s;
    width: 200px;
    text-align: center;
    background-color: #238F8F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.block img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.block p {
    font-size: 20px;
    color: #011F35;
    margin: 0;
    font-weight: bold;
}

.block:hover {
    transform: scale(1.18);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
    margin-bottom: 5vw;
    transition: opacity 1s ease-out;
}

.step {
    border: 2px solid transparent;
    border-radius: 90px;
    border-top-left-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 10px;
    width: 200px;
    position: relative;
    padding-top: 40px; 
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

@keyframes illuminate {
    0% {
        transform: scale(1);
        background-color: inherit;
        box-shadow: none;
    }
    50% {
        transform: scale(1.15);
        background-color: #74982D;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: scale(1);
        background-color: inherit;
        box-shadow: none;
    }
}

.step.active {
    animation: illuminate 2s ease-out;
}

.header {
    position: absolute;
    top: 0;
    height: 20px;
    background-color: inherit;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

#step1  {
    background-color: #50C5D7;
}

#step2  {
    background-color: #63C9CB;
}

#step3  {
    background-color: #50C5D7;
}

#step4 {
    background-color: #63C9CB;
}

#step5 {
    background-color: #50C5D7;
}

#step1 .number {
    color: #803a9b;
    border-color: #803a9b;
}

#step2 .number {
    color: #e33595;
    border-color: #e33595;
}

#step3 .number {
    color: #df7224;
    border-color: #df7224;
}

#step4 .number {
    color: #0a8b6f;
    border-color: #0a8b6f;
}

#step5 .number {
    color: #0b68b5;
    border-color: #0b68b5;
}

.content {
    text-align: center;
    padding: 10px;
}

.step-image {
    width: 100%;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}

h3 {
    margin: 10px;
    padding: 10px;
}

/* Footer styles */
footer {
    background-color: #011F35;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
    color: #f44336;
}


